#inputDiv{
    margin-left: 100px;
    margin-right: 100px;
    border: solid;
}

#input{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#returnHome{
    margin: 10px;
}